<div id="sign-in-container">
    <div class="bild">
        <img src="/images/webstep_wallpaper_0005_red.jpg"  alt="Webstep logo" width="140">
    </div><!-- bild -->
    <h5>Most Wanted</h5>
    <div id="customBtn" class="customGPlusSignIn">
        <span class="icon"></span>
        <a class="buttonText" href="<%= url %>">Sign in with Google</a>
    </div>
</div>