.admin-block {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
	padding: 20px;
	margin-top: 20px;
	background: rgba(0, 0, 0, .05);
}

.admin-block-header {
	font-size: 22px;
	font-weight: bold;
}

.admin-block-table {
	background: white;
}

.admin-block-body-select-form {
	width: 90px;
}