:root {
	--color-red: #cd5c5c;
	--color-blue: #add8e6;
	--color-green: #8fbc8f;
	--grey: rgb(43, 43, 43);
	--white: #ffffff;
	--color-dark: #343a40;
}

.color-red {
	color: var(--color-red);
}

.color-blue {
	color: var(--color-blue);
}

.color-green {
	color: var(--color-green);
}

/* Index */
div.c-card {
	min-width: 267px;
	margin: 5px;
}

div.c-card .card-header {
	font-weight: bold;
	text-align: center;
}

@media ( max-width : 767.98px) {
	div.c-card {
		margin-left: auto;
		margin-right: auto;
	}
}

div.c-card-red {
	border-color: var(--color-red);
}

div.c-card-red .card-header {
	background: var(--color-red);
}

div.c-card-blue {
	border-color: var(--color-blue);
}

div.c-card-blue .card-header {
	background: var(--color-blue);
}

div.c-card-green {
	border-color: var(--color-green);
}

div.c-card-green .card-header {
	background: var(--color-green);
}

div.c-card .card-body .c-card-text {
	margin-bottom: 0;
}

.c-footer {
	background: var(--color-dark)
}

.c-footer-item {
	margin: 0 5px;
	font-size: 22px;
}

/* Index */
.nav-item-user-text {
	display: inline-block;
	padding-bottom: .5rem;
	color: white;
	font-size: 12px;
	font-style: italic;
	padding-top: 12px;
	margin: 0;
}

@media ( min-width : 992px) {
	.navbar-expand-lg .navbar-nav .nav-item .nav-item-user-text {
		margin-right: 50px;
	}
}

/* Alert */
.alert-panel {
	text-align: center;
}