<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
        <img src="/images/WEBSTEP_logo_neg.png" height="30" class="d-inline-block align-top" alt="">
        - Most Wanted!
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="dropdown-divider"></div>
        <ul class="navbar-nav mr-auto">
            <% if (user.role === 'admin') { %>
            <li class="nav-item">
                <a class="nav-link" href="/admin">Admin</a>
            </li>
            <% } %>
        </ul>

        <ul class="navbar-nav mr-0">
            <li class="nav-item">
                <span class="nav-item-user-text"><%= user.email %></span>
            </li>
            <li class="nav-item">
                <form id="logoutForm" action="/logout" method="post">
                    <a class="nav-link" href="javascript:void(0)" onclick="document.getElementById('logoutForm').submit()">Sign out</a>
                </form>
            </li>
        </ul>
    </div>
</nav>