<header>   
    <div class="jumbotron hidden-xs">
        <div class="bild">  
            <img src="/images/webstep_wallpaper_0005_red.jpg"  alt="Webstep logo" width="140">
        </div><!-- bild -->
                
        <div class="title">  
            <h1>...most wanted...</h1>
        </div>
        <div>&nbsp;</div>
    </div><!-- jumbotron -->
</header>