<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
      <div class="outer-wrap">
    <% include partials/template/header.ejs %>
    <div class="container">
      <section> 
        <% include partials/content/maincontent.ejs %>
      </section> 
      </div><!-- primary -->
        <!--aside>
        </aside--><!-- secondary -->
      </div>
    </div><!-- container -->
  </div><!-- outer-wrap -->
  </body>
</html>

